<h1>Please add your list</h1>

<form action="/lists" method="post">
  <label for="name">New list:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add List</button>
</form>
